
body {
    background-color: rgb(0, 20, 50);
}

header h1, main {
    color: white;
}

header {
    box-sizing: border-box;
    height: 200px;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 52PX;
    margin: 0 0 100px 0;
}

header nav {
    display: flex;
    align-self: start;
    justify-content: end;
    align-items: center;
    margin: 10px 30px 0 0;
}

header nav a {
    border-radius: 50px;
    background-color: rgb(20, 40, 100);
    color: white;
    text-align: center;
    margin-right: 7px;
    height: 30px;
    font-size: 22px;
    padding: 10px 5px;
}

.authenticate {
    width: 100px;
}

.register {
    width: 120px;
}

.main-block {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
}

.main-content {
    text-align: center;
    font-size: 42px;
}

.video {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.register-message {
    text-align: center;
    font-size: 64px;
}
