

body {
    background-image: url("../images/magician.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

h1, h2, h3, p ,ul, .logo {
    color: white;
}

header, main, footer{
    background-color: rgba(0, 23, 37, 0.70);
}

header {
    box-sizing: border-box;
    height: 150px;
    margin: 0 100px 0 100px;
}

.logo {
    box-sizing: border-box;
    font-size: 36px;
    text-align: center;
    padding: 40px 0;
    color: gray;
}

main {
    box-sizing: border-box;
    height: 1000px;
    margin: 0 100px 0 100px;
    padding: 0 50px 0 50px;
    font-family: Roboto;
}

main article h1{
    font-size: 56px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

main article p {
    font-size: 24px;
}

main section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

main section h2 {
    text-align: center;
}

main section li {
    padding-bottom: 5px;
}

main section a {
    color: cyan;
}

.skills {
    font-size: 24px;
    padding: 5px 10px 5px 10px;
    border: 3px solid white;
}

.experience {
    font-size: 24px;
    padding: 5px 10px 5px 10px;
    border: 3px solid white;
}

footer {
    box-sizing: border-box;
    height: 250px;
    margin: 0 100px;
    padding: 20px 50px 20px 120px;
    border: 3px solid white;
    font-family: Roboto;
    font-size: 20px;
}




